.phonebook__label {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 485px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: crimson;
  font-weight: bold;
}

.phonebook__input {
  height: 40px;
  padding: 5px;
  font-weight: bold;
  margin-top: 10px;
  border: 2px solid crimson;
  border-radius: 5px;
}

.phonebook__input:focus {
  outline: none;
  color: crimson;

  background-color: #fff;
}
